.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.container__modal{
  display: flex;
  justify-content: space-between;
}
