.container-layout{
  background: url("https://www.centralsaanich.ca/sites/default/files/styles/16_9/public/2023-10/shutterstock_523424383.jpg?itok=bmF2kucm");
}
.sidebar{
  background: rgba(36,47,48,255);
}
.nav-pills .nav-link svg {
  fill: white;
}
